@import './variables';

@font-face {
  font-display: swap;
  font-family: 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ArialNarrow.woff2') format('woff2'),
    url('/fonts/ArialNarrow.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Marcellus-Regular.woff2') format('woff2'),
    url('/fonts/Marcellus-Regular.woff') format('woff');
}

.mobile-only {
  display: inherit;

  @media #{$desktop} {
    display: none;
  }
}

.desktop-only {
  display: none;

  @media #{$desktop} {
    display: inherit;
  }
}
