@import './variables';

$padding: 1em;

.main {
  color: $yellow;
  font-family: 'Marcellus';
  font-size: 1.8em;
  text-transform: uppercase;

  @media #{$mobile-xs} {
    font-size: 1.3em;
  }

  @media #{$desktop} {
    font-size: 2em;
  }
}

.player {
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 85vh;
  padding: $padding;

  @media #{$desktop} {
    align-items: flex-start;
    flex-direction: row;
    height: 100vh;
  }

  &__logo {
    align-items: flex-end;
    bottom: $padding;
    display: none;
    flex: 1 1;
    position: absolute;
    width: 10vw;

    @media #{$desktop} {
      display: flex;
    }
  }

  &__wrapper {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    height: calc(100vh - 100vw);
    min-height: 55vh;

    @media #{$desktop} {
      flex-direction: row;
      height: 100vh;
    }

    &__spacer {
      flex: 1 1;
    }

    &__info {
      align-items: center;
      display: flex;
      flex: 1 1;
      flex-direction: column;
      height: 100%;
    }
  }

  &__select {
    background-color: $yellow;
    border-radius: 1.5em;
    color: #000;
    font-family: 'Arial Narrow';
    font-size: 0.5em;
    margin: 1em 0;
    padding: 0 1.5em;
    transform: scale(90%, 130%);
    z-index: 10;

    &:hover {
      opacity: 0.6;
    }
  }

  &__track {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__visualizer {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__links {
    align-items: center;
    bottom: 0;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    right: 0;

    @media #{$desktop} {
      align-items: flex-end;
      justify-content: flex-start;
      position: unset;
    }

    div img {
      height: 100%;
      width: 25vmin;

      @media #{$mobile-xs} {
        width: 20vmin;
      }

      @media #{$desktop} {
        width: 30vmin;
      }
    }
  }
}
