@import './variables';

$padding: 1em;

.main {
  color: $yellow;
  font-family: 'Marcellus';
  font-size: 1.8em;
  height: 100vh;
  text-transform: uppercase;
  width: 100vw;

  @media #{$mobile-xs} {
    font-size: 1.3em;
  }

  @media #{$desktop} {
    font-size: 2em;
  }
}

.player {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: $padding;

  @media #{$desktop} {
    align-items: flex-start;
    flex-direction: row;
  }

  &__logo {
    align-items: flex-end;
    display: none;
    filter: invert(85%) sepia(97%) saturate(753%) hue-rotate(9deg)
      brightness(103%) contrast(103%);
    flex: 1 1;
    height: 100%;

    @media #{$desktop} {
      display: flex;
    }
  }

  &__wrapper {
    display: flex;
    flex: 4 1;
    flex-direction: column;

    @media #{$desktop} {
      flex-direction: row;
      height: 100%;
    }

    &__info {
      align-items: center;
      display: flex;
      flex: 1 1;
      flex-direction: column;
    }
  }

  &__select {
    background-color: $yellow;
    border-radius: 1.5em;
    color: #000;
    cursor: pointer;
    font-family: 'Arial Narrow';
    font-size: 0.5em;
    margin: 1em 0;
    padding: 0 1.5em;
    transform: scale(90%, 130%);

    &:hover {
      opacity: 0.6;
    }
  }

  &__track {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__visualizer {
    // background-color: $yellow;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    // opacity: 0.1;
    width: 100%;
  }

  &__links {
    align-items: center;
    display: flex;
    flex-direction: column;

    a {
      margin: -2% 0;
    }

    div img {
      height: 100%;
      width: 30vmin;

      @media #{$mobile-xs} {
        width: 25vmin;
      }

      @media #{$desktop} {
        width: 35vmin;
      }
    }
  }
}
